body {
  background-color: #659dbd;
}

.navigation {
  width: 75%;
  background-color: white;
  opacity: 0.9;
  justify-content: center;
  margin-left: 12%;
  height: 250px;
  position: relative;
}

.top-navbar {
  height: 75%;
}
.top-navbar img {
  width: 320px;
  height: 150px;
}
.nav-bar {
  border-top-style: solid;
  margin-top: 50px;
  background-color: white;
  color: #bc986a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  color: #bc986a;
  font-weight: 700;
}

ul li:hover {
  color: rgb(157, 71, 71);
}

a {
  display: inline-block;
  padding: 22px;
  padding-left: 20px;
}

.top-navbar {
  display: flex;
}

.top-navbar .logo {
  width: 30%;
  float: left;
  padding: 25px;
}

.top-navbar .phone {
  width: 70%;
  display: flex;
  padding-left: 420px;
  padding-top: 30px;
}

.phone-number {
  padding-top: 10px;
  border-left: 1px solid;
  border-color: #bc986a;
  width: 200px;
}
.phone-number h2 {
  justify-content: right;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 1000;
  padding-left: 10px;
  height: 30px;
  color: #bc986a;
}
.logo-phone {
  color: #bc986a;
  opacity: 0.8;
  width: 40px;
  height: 60px;
  padding-top: 50px;
  padding-right: 15px;
}
.footer {
  width: 100%;
  opacity: 0.9;
  background-color: white;
  position: absolute;
  display: flex;
  padding-left: 200px;
}

.footer .logo {
  margin-left: 100px;
  margin-top: 25px;
}

.footer h3 {
  color: #bc986a;
  padding-left: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}

.footer h2 {
  font-size: 20px;
  font-weight: 600;
}

.footer .adress {
  margin-left: 260px;
  padding-top: 70px;
  font-size: 19px;
  font-weight: 500;
  color: #bc986a;
}

@media all and (max-width: 378px) {
  .navigation {
    width: 80%;
    background-color: white;
    opacity: 0.9;
    justify-content: center;
    height: 90px;
    margin-left: 10%;
    position: relative;
  }

  .top-navbar {
    height: 35px;
  }
  .top-navbar img {
    width: 60px;
    height: 30px;
  }
  .nav-bar {
    border-top-style: solid;
    margin-top: 12px;
    background-color: white;
    color: #bc986a;
  }

  ul {
    list-style-type: none;
    margin-left: 10px;
  }

  li {
    color: #bc986a;
    font-weight: 600;
  }

  ul li:hover {
    color: rgb(157, 71, 71);
  }

  a {
    display: inline-block;
    padding: 3px;
    padding-left: 5px;
    font-size: 8px;
  }

  .top-navbar {
    display: flex;
  }

  .top-navbar .logo {
    width: 20%;
    float: left;
    padding: 8px;
  }

  .top-navbar .phone {
    width: 80%;
  }
  .phone-number {
    padding-top: 2px;
  }
  .phone-number h2 {
    justify-content: right;
    opacity: 0.9;
    font-size: 10px;
    font-weight: 1000;
    padding-left: 140px;
    height: 10px;
    color: #bc986a;
  }

  .footer {
    width: 100%;
    height: 50px;
    opacity: 0.9;
    background-color: #659dbd;
  }
}
